$full-screen: 100%;

$desktop: 840px;
@mixin desktop{
@media(max-width: #{$desktop}){
    @content;
}
}

:host{
  width: $full-screen;

  @include desktop(){
    left: -6rem;
    height: 50%;
    position: relative;
    top: 20rem;
  }
}
mgl-map {
  width: $full-screen;
  height: $full-screen;
}
.map-container {
    width: $full-screen;
    height: $full-screen;
  }

#not-found{
color: red;
position: absolute;
width: $full-screen;
height: $full-screen;
top: 0;
}

