<div class="container">
    <div class="form-group">
        <input type="text" class="form-control" id="search" placeholder="Search" [(ngModel)]="userLocationName">
       
        <button type="button" class="btn btn-light btnSpaces" (click)="searchLocation()">Search</button>
        <button type="button" id="addAnnotation" class="btn btn-light" (click)="addAnnontation()">Add annotations</button>
    </div>

 
<div class="list-group">
   <button type="button" *ngFor="let item of (locationData | async)" 
   class="list-group-item list-group-item-action" (click)="userSelected( item)">
     {{item.text}}
   </button> 

  </div>

</div>