.container {
display: flex;
flex-flow: column nowrap;
/* width: 25%; */
/* margin-left: 1rem;
margin-top: 1rem; */
border: 1px solid;
/* padding-top: 1rem; */
}

.btnSpaces {
    margin-right: 0.2rem;
}
 .btn {
    margin-top: 0.3rem;
 }

.btnPosition{
top: 0.3rem;
right: 0.3rem;
}

.borderEle {
padding-right: 2rem;
margin-bottom: 0.2rem;
}

#search{
    margin-top: 0.3rem;
}