.container {
display: flex;
flex-flow: column nowrap;
border: 1px solid;
height: 100%;
}

.btn-spaces {
    margin-right: 0.2rem;
}
 .btn {
    margin-top: 0.3rem;
 }

.btn-position{
top: 0.3rem;
right: 0.3rem;
border-radius: 50%;
border: 1px solid;
}

.btn-position:hover {
    background-color: red;
}

.border-ele {
padding-right: 2rem;
margin-bottom: 0.2rem;
}

#search{
    margin-top: 0.3rem;
}

.scroll{
    height: 100%;
    overflow-y: auto;
}